html {
    font-size: 2em;
    text-align: center;
}

body {
    display: grid;
    gap: 1em;
    border: 5px solid red;
}

.spoilerHeader {
    height: auto;
}

.hiddenSpoilerHeader_text-shown {
    display: inline;
}

.hiddenSpoilerHeader_text-hidden {
    display: none;
}